body
{
  margin:0px;
  padding:0px;
    background: url(../background/texture/7_1.png) repeat fixed;
}

/*img
{
 width: 170px;
 height: 170px;
 margin-left: 2px;
 margin-top: 2px;
 border: 0px;
}*/

#content
{
 width: 1100px; 
 margin-top: 50px;
 margin-left: auto;
 margin-right: auto;
 border-radius: 20px;
 background: transparent url(../background/transparent.png) repeat;
}

#margin
{
padding-top: 10px;
padding-left: 198px;
padding-right:200px;
padding-bottom: 10px;
}

#back
{
  position: relative;
  height: 240px;
  margin-right: 0px;
  background: transparent;
  background: url(../background/Untitled-1223.png) ;
  background-repeat: repeat-x; 
  background-position:center bottom;
}

/*
#menubar
{ position: absolute;
margin-top: 30px;
margin-left: 45px;
width: 1060px; 
height: 260px;  !*!?!?!?!?!?!!!!!!!!!!!!!!!*!
overflow-x: hidden;
} */
